{% extends 'base.html' %}

{% block content %}
<h1>Объявления</h1>
{% if user_show %} <h2>Все объявления пользователя: {{ user_show }}</h2>
{% endif %}
{% if user.is_authenticated %}
    <a href="{% url 'board:add_advertisement' %}"><button>Добавить объявление</button></a>
    <br> <br>
{% endif %}
<table>
  <thead>
    <tr>
      <th>Объявление</th>
      <th>Фото</th>
      <th>Автор</th>
    </tr>
  </thead>
  {% for advertisement, images in advertisements %}
    <tr class="align_left">
      <th>
        <a href="{% url 'board:advertisement_detail' pk=advertisement.pk %}">{{ advertisement.title }}</a>
        <div class="small_font">{{ advertisement.content|truncatechars:50 }}</div>
      </th>
      <th>
        {% if advertisement.image %}
          <a href="{{ advertisement.image.url }}" target="_blank">
            <img src="{{ advertisement.image.url }}" style="height: 30px;">
          </a>
        {% endif %}
        {% if images %}
          {% for img in images %}
            <a href="{{ img.image.url }}" target="_blank">
              <img src="{{ img.image.url }}" style="height: 30px;">
            </a>
          {% endfor %}
        {% endif %}
      </th>
      <th>
        <a href="{% url 'board:advertisement_list' pk=advertisement.author.id %}">
          {{ advertisement.author.username }}
        </a>
      </th>
    </tr>
  {% endfor %}
</table>

{% endblock %}
